PORT=4000
# MONGO_URI=mongodb://127.0.0.1:27018/cbs_mock
MONGO_URI=mongodb://localhost:27018/cbs_mock?directConnection=true
DFL_DEV_BASE_URL=https://dev.dfl.datanimbus.com
DFL_DEV_AUTH_TOKEN=
DFL_QA_BASE_URL=https://ledgers.demo.datanimbus.com
DFL_QA_AUTH_TOKEN=
